Repository hemilabs/esplora-api-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts}": ["eslint --cache --fix --quiet", "prettier --write"],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Move prettier config out of package.json
  .prettierrc.json
  package.json
Due: prettier --write, better-sort-package-json

Move knip config out of package.json
  knip.config.js
  package.json
  types/index.js
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Moved commitlint config out of package.json
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Remove c8 config from package.json
  package.json
Due: prettier --write, better-sort-package-json

Remove eslint-plugin-markdown
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Move eslint config out of package.json
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  src/index.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Update github actions workflows
  .github/workflows/js-checks.yml
  .github/workflows/npm-publish.yml
Due: none

Fix lockfile
  package-lock.json
Due: none

1.2.0
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json
